@model BookShop.WEB.Models.BooksViewModel


<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h2>BOOK <em>SHOP</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            Главная
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Products">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </li>
                    @if (Model.IdentityUser == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                        </li>
                    }
                    @if (Model.IdentityUser != null)
                    {
                        @foreach (var obj in Model.UserRoles)
                        {
                            @if (obj == "user")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="user" asp-controller="Home" asp-action="Index">@Model.IdentityUser.UserName</a>
                                </li>
                                <img src="~/images/avatarUser.png" width="50" height="50">
                                <li class="nav-item">

                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                                </li>
                            }
                            @if (obj == "admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">@Model.IdentityUser.UserName</a>
                                </li>
                                <img src="~/images/avatarAdmin.png" width="50" height="50">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                                </li>
                            }

                        }
                    }

                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
            <div class="text-content">
                <h4>Лучшее предложение</h4>
                <h2>Только у нас книги по выгодным ценам!</h2>
            </div>
        </div>
        <div class="banner-item-02">
            <div class="text-content">
                <h4>Многообразие жанров</h4>
                <h2>У нас найдётся книга на любой вкус</h2>
            </div>
        </div>
        <div class="banner-item-03">
            <div class="text-content">
                <h4>Книжный клуб</h4>
                <h2>Вступайте в Наш книжный клуб и получайте бонусы</h2>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->
<!--  area new book in catalog -->
<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Новые книги</h2>
                    <a asp-area="" asp-controller="Home" asp-action="Products">Посмотреть весь каталог <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @if (Model.Books.Count()>0)
            {
                @foreach (var item in Model.Books.OrderByDescending(d=>d.DateAddSite).Take(3))
                {
                    <!--  -->
                    <div class="col-md-4">
                        <div class="product-item">
                            <a asp-controller="Home" asp-action="ProductPage" asp-route-id="@item.Id"><img src="~/images/bookTitle/@item.TitleNameImage" alt=""></a>
                            <div class="down-content">
                                <a asp-controller="Home" asp-action="ProductPage" asp-route-id="@item.Id"><h4>@item.NameBook</h4></a>
                                <h6>@item.Price руб.</h6>
                                <p><em>@item.TheAuthors.FullName</em></p>
                                <span><a asp-area="user" asp-controller="ShopingCarts" asp-action="Add" asp-route-id= "@item.Id">В корзину</a></span>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                }
            }   
        </div>
    </div>
</div>
<!-- end area new book in catalog -->
<!--  area new book in catalog -->
<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Популярные книги</h2>
                    <a asp-area="" asp-controller="Home" asp-action="Products">Посмотреть весь каталог <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @if (Model.Books.Count()>0)
            {
                @foreach(var item in Model.Books.OrderBy(p=>p.Price).Take(6))
                {
                    <!--  -->
                    <div class="col-md-4">
                        <div class="product-item">
                            <a asp-controller="Home" asp-action="ProductPage" asp-route-id="@item.Id"><img src="~/images/bookTitle/@item.TitleNameImage" alt=""></a>
                            <div class="down-content">
                                <a asp-controller="Home" asp-action="ProductPage" asp-route-id="@item.Id"><h4>@item.NameBook</h4></a>
                                <h6>@item.Price руб.</h6>
                               
                                            <p><em>@item.TheAuthors.FullName</em></p>

                                <span><a asp-area="user" asp-controller="ShopingCarts" asp-action="Add" asp-route-id="@item.Id">В корзину</a></span>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                }
            }
            

           
        
        </div>
    </div>
</div>
<!-- end area new book in catalog -->
