@model BookShop.WEB.Models.BooksViewModel

<!-- Page Content -->
<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Каталог</h4>
                    <h2>Есть из чего выбрать!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end Page Content -->
<!-- products -->
<div class="products">
    <div class="container">
        <!--sort&serch area-->
        <div class="serchDiv">
            <form>
                <input name="serch" class="serchInput" type="text" placeholder="Поиск" />
            </form>
        </div>

        <div class="sortDiv">
            <form>
                <select name="author" asp-items="Model.TheAuthorstList"></select>
                <select name="ganre" asp-items="Model.GanrestList"></select>
                <select name="publisher" asp-items="Model.PublishertList"></select>
                <button type="submit" id="form-submit" class="filled-button">Фильтровать</button>
            </form>
        </div>
        <!--end sort&serch area-->
        <div class="row">
            <div class="col-md-12">
                <div class="filters-content">
                    <div class="row grid">
                        @if (Model.Books.Count() > 0)
                        {
                            @foreach (var item in Model.Books)
                            {
                                <!--  -->
                                <div class="col-md-4">
                                    <div class="product-item">
                                        <a asp-controller="Home" asp-action="ProductPage" asp-route-id="@item.Id"><img src="~/images/bookTitle/@item.TitleNameImage" alt=""></a>
                                        <div class="down-content">
                                            <a asp-controller="Home" asp-action="ProductPage" asp-route-id="@item.Id"><h4>@item.NameBook</h4></a>
                                            <h6>@item.Price руб.</h6>
                                            <p>@item.BookDescription</p>

                                            <span><a asp-area="user" asp-controller="ShopingCarts" asp-action="Add" asp-route-id="@item.Id">В корзину</a></span>
                                        </div>
                                    </div>
                                </div>
                                <!--  -->
                            }
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--end products -->